@media screen and (max-width:576px) {
     
    /* shared style*/

    .maxm-width{
        max-width: 90%;
    }
    /* header section */
    .nav-item {
        display: none;
    }
    .ham-burger{
        display: block;
    }
   

    /* banner sectiom */
   
    .banner {
        flex-direction: column;
    }
   
    .banner-title,.italic{
        font-size: 3rem;
        
    }

    


   .btn-primary,.btn-secondary {
    width: 8rem;
   }

   .card-1 {
    width: auto;
    top: 50%;
    left: 5%;
    
    padding: .625rem;
    
   }


    .card-2{
        width: auto;
        top: 10%;
        right: 10%;
        padding: .3125rem;
    }



    /* habbit section */
    .habbit{
        padding: 0;
    }
    .habbit-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        
    }
    

    .run {
        padding: 1.25rem;
        flex-direction: column;
    }
    
    .run-title-container{
        text-align: center;
    }
    
    .run-img-container{
        max-width: 100%;
    }
    .run-img-container img {
        width: 100%;
    }



    /* bmi section */
    .bmi {
        flex-direction: column;
    }
    .table-container{
        width: 100%;
    }
    
    
    .input-container{
        justify-content: center;
    }


    /* teams section */
    .team{
        text-align: center;
        padding: 5px;
    }

    .team-img-container-box {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        
        gap: 1rem;
    
}
.trainer-img{
    width: 100%;
    }

}

 